.container-loader {
  background-color: rgba(255, 255, 255, 0.937254902);
  position: fixed;
  inset: 0;
  height: 100vh;
  z-index: 2;
  -webkit-animation: background-disappear 0.4s 1.5s forwards;
          animation: background-disappear 0.4s 1.5s forwards;
}

@-webkit-keyframes background-disappear {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes background-disappear {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.circle {
  background-color: #9356DC;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transform: scale(0);
  -webkit-animation: grow 2s linear infinite;
          animation: grow 2s linear infinite;
  margin: -10px;
}

.circle:nth-child(2) {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.circle:nth-child(3) {
  background-color: #99E2D0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  position: relative;
  top: 20px;
  right: 60px;
}

@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes grow {
  50% {
    transform: scale(1);
  }
}
@keyframes grow {
  50% {
    transform: scale(1);
  }
}
.explore__button {
  padding: 16px 28px;
  border: none;
  border-radius: 50px;
  background-color: #686868;
  background: linear-gradient(-5deg, #9356DC 10%, #FF79DA);
  color: #fff;
}
.explore__button:hover {
  background: linear-gradient(-5deg, #9356DC 10%, #FF79DA, rgba(255, 255, 255, 0.0078431373) 140%);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 0.15s;
  cursor: pointer;
}

.menu__button {
  padding: 16px 28px;
  border: none;
  border-radius: 50px;
  background-color: #686868;
  background: linear-gradient(-5deg, #9356DC 10%, #FF79DA);
  color: #fff;
  width: 250px;
}
.menu__button:hover {
  background: linear-gradient(-5deg, #9356DC 10%, #FF79DA, rgba(255, 255, 255, 0.0078431373) 140%);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 0.15s;
  cursor: pointer;
}

.card__heart {
  position: relative;
  cursor: pointer;
}
.card__icon-heart {
  font-size: 25px;
  color: black;
  background-color: #ffffff;
  position: absolute;
  right: 10px;
  top: 10px;
}
.card__icon-heart:hover {
  opacity: 0;
}
.card__icon-heart-gradient {
  font-size: 25px;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(-5deg, #9356DC 10%, #FF79DA);
  position: absolute;
  right: 10px;
  top: 10px;
}

.menu__heart {
  position: relative;
  cursor: pointer;
}
.menu__icon-heart {
  font-size: 25px;
  color: black;
  background-color: #f2f2f2;
  position: absolute;
  right: 10px;
  top: -10px;
}
.menu__icon-heart:hover {
  opacity: 0;
}
.menu__icon-heart-gradient {
  font-size: 25px;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(-5deg, #9356DC 10%, #FF79DA);
  position: absolute;
  right: 10px;
  top: -10px;
}

.dish__slide-effect-1 {
  -webkit-animation: slide-bottom 1.5s 1s ease-in-out both;
          animation: slide-bottom 1.5s 1s ease-in-out both;
}
.dish__slide-effect-2 {
  -webkit-animation: slide-bottom 1.5s 1.5s ease-in-out both;
          animation: slide-bottom 1.5s 1.5s ease-in-out both;
}
.dish__slide-effect-3 {
  -webkit-animation: slide-bottom 1.5s 2s ease-in-out both;
          animation: slide-bottom 1.5s 2s ease-in-out both;
}
.dish__slide-effect-4 {
  -webkit-animation: slide-bottom 1.5s 2.5s ease-in-out both;
          animation: slide-bottom 1.5s 2.5s ease-in-out both;
}
.dish__validation {
  background-color: #99E2D0;
  height: auto;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -60px;
  transition-duration: 1s;
}
.dish__icon-validation {
  color: white;
  font-size: 20px;
}
.dish__element:hover .dish__validation {
  margin-right: 0;
}
.dish__element:hover .dish__icon-validation {
  transform: rotate(360deg);
  transition-duration: 1s;
}

@-webkit-keyframes slide-bottom {
  0% {
    transform: translateY(50px);
    filter: blur(1px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(50px);
    filter: blur(1px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    filter: blur(0);
    opacity: 1;
  }
}
@media screen and (min-width: 993px) and (max-width: 1980px) {
  .dish__slide-effect-1 {
    -webkit-animation: scale-up 1.5s 1s ease-in-out both;
            animation: scale-up 1.5s 1s ease-in-out both;
  }
  .dish__slide-effect-2 {
    -webkit-animation: scale-up 1.5s 1.5s ease-in-out both;
            animation: scale-up 1.5s 1.5s ease-in-out both;
  }
  .dish__slide-effect-3 {
    -webkit-animation: scale-up 1.5s 2s ease-in-out both;
            animation: scale-up 1.5s 2s ease-in-out both;
  }
  .dish__slide-effect-4 {
    -webkit-animation: scale-up 1.5s 2.5s ease-in-out both;
            animation: scale-up 1.5s 2.5s ease-in-out both;
  }
  @-webkit-keyframes scale-up {
    0% {
      transform: scaleX(0.4);
      filter: blur(1px);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes scale-up {
    0% {
      transform: scaleX(0.4);
      filter: blur(1px);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      filter: blur(0);
      opacity: 1;
    }
  }
}
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 800;
  font-size: 25px;
  margin: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: 0;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin: 0;
}

button {
  font-family: "Roboto" sans-serif;
  font-weight: 550;
  font-size: 14px;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 18px;
}

.banner {
  height: 400px;
  width: auto;
  overflow: hidden;
}
.banner__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  padding-left: 20px;
}
.footer__logo {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  width: 100px;
}
.footer__logo:hover {
  color: #9356DC;
  cursor: pointer;
}
.footer .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  margin-top: 10px;
  font-size: 15px;
  color: white;
}
.footer .footer-nav .footer-bloc__icon {
  margin-right: 5px;
  font-size: 12px;
}
.footer .footer-nav .footer-bloc__link {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.footer .footer-nav .footer-bloc__link:hover {
  color: #9356DC;
}

@media screen and (min-width: 993px) and (max-width: 1980px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.025);
  z-index: 1;
}
.header__icon {
  color: #4e4e4e;
  font-size: 25px;
  position: absolute;
  left: 15px;
  top: 20px;
}
.header__icon:hover {
  color: #9356DC;
  transform: scale(1.1);
  transition: 300ms;
}

.geolocalisation {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #4d4d4d;
}
.geolocalisation__label {
  font-weight: 600;
  margin-left: 20px;
}

.container-explore {
  background-color: #f2f2f2;
  height: 300px;
}
.container-explore .explore {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.container-explore .explore h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 70%;
}
.container-explore .explore p {
  margin: 0;
  width: 95%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #4d4d4d;
}

.container-functioning {
  margin: 50px 20px 50px 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-functioning .choice {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  height: 60px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.container-functioning .choice__number {
  background-color: #9356DC;
  margin-left: -10px;
  margin-right: 15px;
  color: white;
  text-align: center;
  width: 18px;
  padding: 3px;
  border-radius: 54%;
  font-family: "Roboto", sans-serif;
}
.container-functioning .choice__icon {
  color: #4d4d4d;
  margin-right: 15px;
}
.container-functioning .choice__text {
  font-size: 15px;
  font-weight: 700;
}
.container-functioning .choice:hover {
  background-color: rgba(147, 86, 220, 0.1450980392);
  cursor: pointer;
}
.container-functioning .choice:hover i {
  color: #9356DC;
}

.container-restaurant {
  background-color: #f2f2f2;
  padding: 30px 20px 30px 20px;
  height: 1200px;
}
.container-restaurant .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.container-restaurant .card__element {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  width: auto;
  height: 250px;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.container-restaurant .card__element:hover {
  transform: scale(1.05);
  transition: 800ms;
}
.container-restaurant .card__link {
  text-decoration: none;
}
.container-restaurant .card__items {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.container-restaurant .card__image {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-restaurant .card__imageholder {
  position: relative;
}
.container-restaurant .card__imageholder .card__label {
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  border-radius: 3px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  color: #16856b;
  font-weight: 500;
}
.container-restaurant .card__title h3 {
  font-weight: 700;
  font-size: 20px;
  color: black;
}
.container-restaurant .card__items p {
  font-weight: 400;
  color: black;
}

@media screen and (min-width: 993px) and (max-width: 1980px) {
  .container-functioning {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    height: 240px;
  }
  .container-functioning h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  .container-functioning h2::after {
    content: "";
    display: flex;
    width: 100px;
    height: 4px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #99E2D0;
  }
  .container-functioning .choice {
    display: flex;
    width: 400px;
  }
  .container-restaurant {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
  }
  .container-restaurant h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  .container-restaurant h2::after {
    content: "";
    display: flex;
    width: 100px;
    height: 4px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #99E2D0;
  }
  .container-restaurant .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 80%;
  }
  .container-restaurant .card .card__element {
    width: 45%;
  }
}
.menu {
  background-color: #f2f2f2;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  height: auto;
  width: auto;
  position: relative;
  overflow: auto;
  margin-top: -60px;
  padding: 18px;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.menu h2 {
  color: #4d4d4d;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.menu h2::after {
  content: "";
  display: flex;
  width: 60px;
  height: 4px;
  margin-top: 5px;
  background-color: #99E2D0;
}
.menu .container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.dish {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.dish__element {
  display: flex;
  background-color: white;
  border-radius: 10px;
  line-height: 1.5;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}
.dish__element .dish__text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  overflow: hidden;
}
.dish__element h3 {
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dish__element p {
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dish__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
}

@media screen and (min-width: 993px) and (max-width: 1980px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px;
  }
  .menu__title {
    width: 100%;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .menu .dish {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .menu .dish h2 {
    width: 100%;
  }
  .menu .dish__element {
    width: 32%;
  }
  .menu .container-button {
    margin: auto;
  }
}/*# sourceMappingURL=main.css.map */