.header {
    @include flex-center;
    background-color: white;
    height: 70px;
    position: sticky;
    top: 0;
    box-shadow: $heading-shadow;
    z-index: 1;

    &__icon {
        color: #4e4e4e;
        font-size: 25px;
        position: absolute;
        left: 15px;
        top: 20px;
    }

    &__icon:hover {
        color: $colour-primary;
        transform: scale(1.1);
        transition: 300ms;
    }
}

