// body {
//     font-family: 'Roboto' sans-serif;
//     font-size: 12px;
//     font-weight: 150;
// }

h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 800;
    font-size: 25px;
    margin: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0;
}

button {
    font-family: 'Roboto' sans-serif;
    font-weight: 550;
    font-size: 14px;
}

.footer__logo {
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
    font-size: 18px;
}
