$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-text-button: #fff;
$colour-gradient : linear-gradient(0deg, $colour-primary 10%, $colour-secondary);
$colour-background : #f2f2f2;


$heading-shadow: 10px 5px 5px rgba(0, 0, 0, 0.025);
$shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.150);